body {
  background-color: lightblue;
  margin: 30px auto;
  padding: 30px 30px;
  width: 70%;
  min-width: 599px;
}

.box {
	border: 1px solid white;
	border-radius: 30px;
  background-color: white;
  padding: 49px;
}

h1 {
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  color: #AAA;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

p {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

y {
  background: yellow;
}

.game {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
  background-color: rgb(173, 216, 230, 0.3);
  margin: 30px auto;
  padding-bottom: 15px;
  width: 500px;
}

.info {
	margin: 30px auto;
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

button {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: #171717;
  margin: 17px 0;
}

button.blue {
  background-color: lightblue;
}

button.white {
  background-color: #eee;
}

button.yellow {
  background-color: yellow;
}

.big {
  font-size: 21px;
  }

.big2 {
  font-size: 27px;
  }

input {
  width: 47px;
  font-size: 17px;
  text-align: right;
  font-weight: bold;
}

.vl {
  border-top: 1px solid #333;
  width: 110px;
  margin: auto;
}

.br {
  display: block;
  margin-bottom: 0.7em;
}

.howto {
  text-align: center;
}

.caption {
  text-align: center;
}

.tebak {
  width: 275px;
  margin: auto;
  padding-top: 9px;
  padding-bottom: 1px;
}

.tombol {
  text-align: center;
}