body {
  background-color: lightblue;
  margin: 30px auto;
  padding: 30px 30px;
  width: 70%;
  min-width: 599px;
}

.box {
	border: 50px solid white;
	border-radius: 30px;
  background-color: white;
}

h1 {
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  color: #AAA;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

u {
  background: yellow;
}

.actions {
  text-align: center;
  margin-top: 30px;
}

.actions a {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.game {
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.info {
	margin: 30px auto;
  border: 30px solid lightblue;
	border-radius: 10px;
  background-color: lightblue;
  color: #333;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

button {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: #171717;
}

button.blue {
  background-color: lightblue;
}

button.white {
  background-color: #eee;
}

button.yellow {
  background-color: yellow;
}

.big {
  font-size: 21px;
  }
